doctype html
html(lang="hr")
	head
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="css/bootstrap.css")
		link(rel="stylesheet" href="css/global.css")
	body
		script(src="http://code.jquery.com/jquery-1.10.1.min.js")
		script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
		script(src="js/bootstrap.js")
		script(src="js/init.js")
		#header
			ul.nav.nav-pills
				li
					img(src="assets/logo.png" style="float: left;")
				ul.nav.nav-pills(style="float: right;")
					li.dropdown
						a.dropdown-text(href="#" role="button")
							| Turniri
						div.dropdown-filler
						ul.dropdown-menu(role="menu")
							li(role="presentation")
								a(role="menuitem" tabindex="-1" href="#") Trenutni
							li(role="presentation")
								a(role="menuitem" tabindex="-1" href="#") Prošli
					li.dropdown
						a.dropdown-text(href="#" role="button")
							| Liga
					li.dropdown
						a.dropdown-text(href="#" role="button")
							| Info
						div.dropdown-filler
						ul.dropdown-menu(role="menu")
							li(role="presentation")
								a(role="menuitem" tabindex="-1" href="#") About
							li(role="presentation")
								a(role="menuitem" tabindex="-1" href="#") Kontakt
							li(role="presentation")
								a(role="menuitem" tabindex="-1" href="#") FAQ
					li.dropdown
						a.dropdown-text(href="#" role="button")
							| Blogovi
		#content
		#footer