#options {
  float: left;
  width: 200px;
  min-height: 50px;
  margin-right: 10px;
}
#control-panel {
  overflow: hidden;
  min-height: 100px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  border: 1px solid rgba(0,0,0,0.15);
  background-clip: padding-box;
}
#options .dropdown-menu {
  display: block;
  top: 0;
  width: 200px;
  margin: 0;
}
.dropdown-menu a:focus {
  outline: none;
}
.dropdown-menu li:focus {
  outline: none;
}
.control-panel-pane {
  display: none;
}
#article-list * {
  display: block;
  position: relative;
}
#article-list > ul {
  width: 100%;
}
