#options
	float left
	width 200px
	min-height 50px
	margin-right 10px

#control-panel
	overflow hidden
	min-height 100px
	box-shadow 0 6px 12px rgba(0, 0, 0, .175)
	border 1px solid rgba(0, 0, 0, .15)
	background-clip padding-box

#options .dropdown-menu
	display block
	top 0
	width 200px
	margin 0

.dropdown-menu li
	height 26px

.dropdown-menu a
	line-height 26px

.dropdown-menu a:focus
	outline none

.dropdown-menu li:focus
	outline none

.control-panel-pane
	display none

#item-list .dropdown-menu
	display block
	position relative

#item-list li
#item-list .dropdown-menu
	display block
	position relative

#item-list > ul
	width 100%

.item-remove
	position absolute !important
	top 0
	right 0
	margin-right 3px
	height 17px
	width 17px
	margin-top 3px
	padding 0px
	display none

.item-remove > .glyphicon
	position absolute
	left 0px
	top 1px

.item-remove:hover
.dropdown-menu a:hover + .item-remove
	display block