@import "global"

body
	margin 0px

// CALENDAR CALENDAR CALENDAR
_item-width = 140
_item-height = 80

.calendar
	margin-top 20px
	margin-left auto
	margin-right auto
	width (7 * _item-width + 30)px


//// CALENDAR HEADER
.calendar-header
	margin-left 15px
	margin-right 15px
.calendar-header > *
	display inline-block
	height 40px
.calendar-head-left
	width 25%
	text-align left
.calendar-head-center
	width 50%
	text-align center
.calendar-head-right
	width 25%
	text-align right

//// CALENDAR TABLE

.table > tbody > tr > th
	padding 0px
	border 0px
	width (_item-width)px
	height (_item-height)px

.table, table
	width (_item-width * 7)px
	height (_item-height * 6 + 30)px

.calendar-number
	text-align right
	padding-right 5px
	height 18px

.calendar-item
	padding-left 5px
	padding-right 5px

.calendar-item > .btn-group > .btn
	padding 0px

.btn-group
	width (_item-width - 10)px
	height 20px

.btn
	margin 1px
	width (_item-width - 10)px
	text-align left
	font-size 12px

.caret
	float right
	margin 5px

