body
	background-color gray

#header
	width 1000px
	height 80px
	margin-left auto
	margin-right auto
	margin-top 10px
	margin-bottom 0
	background-color teal
	padding 10px

#content
	width 1000px
	margin-left auto
	margin-right auto
	margin-top 10px
	min-height 500px
	background-color wheat
	padding 10px

#footer
	background-color maroon
	width 100%
	height 100px
	margin-top 10px
	padding 10px

a
	color white
	outline none

ul.nav li.dropdown:hover ul.dropdown-menu
	display block

*
	font-family Open Sans
	font-weight 300

.dropdown-text
	font-size 20px

li.dropdown
	margin 6px
	float left

div.dropdown-filler
	width 125px
	height 5px
	position absolute

.footer-container
	height 100%
	float right
	display table

.footer-container>p
	display table-cell
	vertical-align bottom
	color white

h1, h2, h3, h4, h5, h6
	margin 0
	font-weight 300

textarea
	resize none

.dropdown-menu > li > a:hover
	background-color #F0F0F0