extends ../base-layout

append head-dependencies
	link(rel="stylesheet" href="/css/calendar.css")
	script(src="https://datejs.googlecode.com/files/date.js")
	script(src=path + "/js/calendar.js")


block content

	.calendar
		.calendar-header
			.calendar-head-left Hihihi
			.calendar-head-center Year Month
			.calendar-head-right Ulala
		.calendar-table
			.calendar-head
				.calendar-row
					.calendar-column Ponedjeljak
					.calendar-column Utorak
					.calendar-column Srijeda
					.calendar-column Četvrtak
					.calendar-column Petak
					.calendar-column Subota
					.calendar-column Nedjelja
			.calendar-body
				each i in [0,1,2,3,4,5]
					.calendar-row
						each j in [0,1,2,3,4,5,6]
							div(id = "calendar-cell-" + (i*7+j)).calendar-column
								.calendar-number #{i*7+j}
								.calendar-item