extends ../base-layout

append head-dependencies
	link(rel="stylesheet" href="/css/calendar.css")
	script(src="https://datejs.googlecode.com/files/date.js")
	script(src=path + "/js/calendar.js")


block content


	table.table.table-striped.table-hover
		thead
			tr
				th Pon
				th Uto
				th Sri
				th Čet
				th Pet
				th Sub
				th Ned
		tbody
			each i in [0,1,2,3,4,5]
				tr
					each j in [0,1,2,3,4,5,6]
						th(id = "calendar-cell-" + (i*7+j))
							.calendar-number #{i*7+j}
							.calendar-item
